.app {
  height: 100vh;
  .sections{
    width: 100%;
    height: calc(100vh);
    background-color: blueviolet;
    position:relative;
    top:70px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    & ::-webkit-scrollbar{
      display: none;
    }
    > *{
      width: 100vw;
      height: calc(100vh);
      scroll-snap-type: start;
    }
  }
}
